body {
	background: #999;
	margin: 0;
	padding: 0;
}
.wraper {
	width: 220px;
	margin: 0 auto;
	float: right;
	/* padding-top: calc(50% - 300px); */
}

/* START stroke */
.stroke {
	position: absolute;
	width: 70%;
	height: 100%;
	height: calc(100% - 15px);
	top: 1em;
	right: 0;
	bottom: 1em;
}
.stroke:before,.stroke:after {
	content: '';
	position: absolute;
	height: 50%;
	background: #fff;
	width: 100%;
	border: solid rgba(0,0,0,.8);
	right: 0;
	z-index: 0;
}
.stroke_vertex {
	position: absolute;
	border-radius: 50% 0 0 50%;
	border: solid rgba(0,0,0,.8);
	border-width: 1em 0px 1em 1em;
	top: 6%;
	right: 82%;
	bottom: 0;
	margin: auto;
	height: 28.5%;
	width: 58%;
	clip: rect(16px,87px,110px,0);
	background: #fff;
	z-index: 2;
}
.stroke_eye-top {
	border: 1em solid rgba(0,0,0,.8);
	border-radius: 50%;
	height: 221px;
	width: 186px;
	position: absolute;
	background: #fff;
	top: 38px;
	right: 17px;
	clip: rect(0,110px,158px,0);
	z-index: 1;
}
.stroke_eye-bottom {
	border: 1em solid rgba(0,0,0,.8);
	border-radius: 50%;
	height: 240px;
	width: 227px;
	position: absolute;
	background: #fff;
	bottom: 18px;
	right: -15px;
	clip: rect(81px,141px,250px,auto);
	z-index: 1;
}
/* END stroke */

.garfild-head {
	position: relative;
	height: 0;
	width: 100%;
	overflow: hidden;
	padding-top: 222%;
	font-size: 3px;
}
.garfild-head .head {
	height: 98%;
	height: calc(80% - 2em);
	margin: auto;
	width: 79%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 6;
	animation: gh-appear 1s ease-out 1;
}
.garfild-head .head:before,
.garfild-head .head:after {
	content: '';
	background: #f79f45;
	width: 73%;
	position: absolute;
	border: solid #632612;
	right: 0;
	height: 50%;
}
.vertex {
	background: #f79f45;
	position: absolute;
	border: solid #632612;
	border-width: 1em 0px 1em 1em;
	top: 19px;
	right: 106px;
	bottom: 0;
	margin: auto;
	height: 116px;
	width: 65px;
	z-index: 1;
	border-radius: 66% 0 0 67%;
}
.garfild-head .head:before,.garfild-head .stroke:before {
	right: -19px;
	border-width: 1em 0 0 1em;
	top: -1em;
	border-radius: 147% 0 0 0 / 75% 0 0 0;
}
.garfild-head .head:after,.garfild-head .stroke:after {
	border-width: 0 0 1em 1em;
	bottom: -1em;
	border-radius: 0 0 0 100% / 0 0 0 75%;
}
.eye {
	position: absolute;
	width: 155px;
	width: 89%;
	height: 42%;
	background: #f8f7d1;
	border-radius: 50%;
	border: 1em solid #632612;
	right: 9px;
	z-index: 5;
	overflow: hidden;
	animation: gh-eyes 1s ease-out 1s;
}
.eye_top {
	top: 8.2%;
}
.eye_bottom {
	bottom: 5.5%;
	right: 24px;
	width: 83%;
}
.pupil {
	width: 7%;
	height: 7%;
	border-radius: 50%;
	background: #000;
	position: absolute;
	left: 0;
	right: 17px;
	margin: auto;
}
.eye_top .pupil {
	bottom: 33%;
}
.eye_bottom .pupil {
	top: 22%;
}
.eyelid {
	background: #a96029;
	position: absolute;
	width: 0;
	height: 100%;
	animation: blink 12s linear 3s infinite;
}
.eyelid_left {
	left: 0;
}
.eyelid_right {
	right: 0;
}
.nose {
	background: #f1683c;
	border: 1em solid #632612;
	height: 39px;
	width: 19px;
	border-radius: 75% 90% 90% 75% / 70% 64% 64% 70%;
	position: absolute;
	top: 21px;
	bottom: 0;
	margin: auto;
	right: 26px;
	z-index: 4;
}
.mouth {
	width: 31px;
	border: solid #632612;
	right: 0;
	top: 27px;
	bottom: 0;
	margin: auto;
	position: absolute;
	z-index: 2;
}
.mouth2 {
	border-width: 0px 1.25em 0 0;
	height: 54px;
	top: 63px;
	border-radius: 50%;
	transform: rotate(-67deg);
	right: 0px;
}
.mouth1 {
	height: 0;
	border-width: .5em 0 .75em;
}.dots:before,.dots:after {
	content: '';
}
.dots:before, .dots:after,.dots {
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #b04926;
	position: absolute;
	top: -17px;
	left: 13px;
	z-index: 10;
}
.dots:before {
	left: 11px;
	top: 1px;
}
.dots:after {
	left: 8px;
	top: -10px;
}
.dots2 {
	left: 7px;
	top: 26px;
	transform: rotate(-32deg);
}


@keyframes blink {
	0% {width:0}
	1% {width:50%}
	2% {width:0}
	50% {width:0}
	51% {width:50%}
	52% {width:0}
	53% {width:50%}
	54% {width:0}
	100% {width:0}
}
@keyframes gh-appear {
	0% {
		transform:translateX(100%)
	}
	100% {
		transform:translateX(0)
	}
}
@keyframes gh-eyes {
	0% {
		transform: scaleX(1);
	}
	25% {
		transform: scaleX(0.9);
	}
	50% {
		transform: scaleX(1.05);
	}
	75% {
		transform: scaleX(0.9);
	}
	100% {
		transform: scaleX(1);
	}
}